* {
    font-family: 'Manrope';
}

body {
    background-image: url("img/back.png");
    background-size: cover;

}

.img-generate {
    width: 100%;
}

.accueil {
    color: #D3EFF2;
    font-size: 25px;
    text-decoration: none;
    padding: 40px;

}

.generate {
    display: flex;
    flex-direction: row;
}

.first-part {
    margin: 12em 10em 0 15em;
}

h1 {
    font-size: 4em;
    color: white;
    margin: 20px;
    letter-spacing: 10px;
}

.detail {
    color: white;
    margin: 30px;
    font-size: 25px;
}

.search-inp {
    width: 70em;
    height: 43px;
    border-radius: 50px;
    padding: 5px 20px;
}

.btn {
    width: 150px;
    height: 44px;
    margin: 0 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    background-color: white;
    border: white;

}

.btn:hover {
    background-color: rgba(80, 82, 158, 0.3);
    border-color: #D3EFF2;
    color: white;
}


.size {
    margin: 50px 150px;
    display: flex;

}

.elem {
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
    color: white;
    /* font-weight: bold; */
}

.size-elem {
    margin-top: 5px;
    width: 67px;
    height: 32px;
    border-radius: 4px;
    padding: 0 10px;
    border: #D3EFF2;
}



.two {
    color: chocolate;
    background-color: black;
    border: black;

}

.Img-Affich {
    display: none;
    position: fixed;
    z-index: 1;
    width: 57%;
    height: 70%;
    top: 0;
    border-radius: 10px;
    overflow: visible;
    margin: 70px 20em;
    background-color: white;

    /* background-color: rgba(0, 0, 0, 0.4); */
}

.download-part {
    display: flex;
    flex-direction: column;
    margin: 90px 22px 0px 40px;
}

.general {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.img-part {

    margin: 20px 0px 40px 30px;
}

.close {
    color: aliceblue;
    float: right;
    width: 13px;
    padding: 23px 23px;
    cursor: pointer;
}



.down {
    /* margin: 1em 30px; */
    color: white;
    width: 313px;
    cursor: pointer;
    font-weight: 200;
    height: 49px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #1A1B38;
}

.titl {
    color: black;
    font-size: 35px;
    margin: 5px;
}

.error {
    position: fixed;
    z-index: 1;
    width: 30%;
    height: 50%;
    display: none;
    top: 0;
    overflow: visible;
    background-color: aliceblue;
    margin: 80px 20em;
}

.err-p {
    padding: 0px 30px;
    color: #9C9C9C;
}

h2 {
    color: black;
    margin: 40px 30px 0px 30px;
    font-size: 30px;
}

.err {
    color: black;
}

.err-detail {
    margin: 10px 30px;
    padding: 25px 0;
    background-color: #F7FAFC;
    border-radius: 3px;
}

.vct-down {
    width: 17px;
    height: 21px;
    float: right;
    padding: 0 10px;
}

.social-media {
    display: flex;
    padding: 50px 20px 0 26px;

    flex-direction: row;

}

.medias {
    display: flex;
    flex-direction: column;
    padding: 15px 22px;
}

.media {
    width: 40px;
    height: 40px;

}

.med-p {
    font-size: 12px;
    font-weight: bold;
}

.link-down {
    padding: 1px 20px;
    background-color: #F0F5FF;
    border: 2px solid #B5C6E8;
    height: 40px;
    width: 190px;
    border-radius: 8px;
    margin: 27px 41px;
}

.copy {
    /* width: 10px; */
    position: absolute;
    /* margin: 3px 300px; */
}

.copy-link {
    display: flex;
    flex-direction: row;
}