body {
    background-image: url("img/background.jpg");
    background-size: cover;

}

.search-inp {
    width: 90em;
    height: 50px;
    border-radius: 50px;
    padding: 5px 20px;

}

.first-part {
    margin: 7em 10em 0 10em;
}

.accueil {
    color: #D3EFF2;
    font-size: 20px;
    text-decoration: none;
    margin: 40px;

}

h1 {
    font-size: 5em;
    color: #D3EFF2;
}

h2 {
    color: aliceblue;
    margin: 20px;
}

span {
    color: chocolate;
}

.btn {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(210, 105, 30, 0.703);
    border: rgba(210, 105, 30, 0.507);
    margin: 5em 12em 0 12em;
}

.btn:hover {
    background-color: #D3EFF2;
    border-color: #D3EFF2;
    color: black;
}


.size {
    margin: 50px 150px;
    display: none;

}

.elem {
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
    color: chocolate;
    font-weight: bold;
}

input {
    margin-top: 5px;
    width: 60px;
    height: 20px;
    border-radius: 4px;
    border: #D3EFF2;
}

.two {
    color: chocolate;
    background-color: black;
    border: black;

}

.Img-Affich {
    display: none;
    position: fixed;
    z-index: 1;
    width: 60%;
    height: 80%;
    top: 0;
    overflow: visible;
    margin: 80px 20em;
    background-color: rgb(0, 33, 49);
    ;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

.img-part {
    float: left;
    margin: 30px;
}

.close {
    color: aliceblue;
    float: right;
    /* font-weight: bolder; */
    font-size: 2em;
    padding: 10px 20px;
    cursor: pointer;
}

.down {
    margin: 5em 0;
    width: 400px;
    border-radius: 2px;
    background-color: chocolate;
}

.titl {
    color: aliceblue;
    font-size: 30px;
    margin: 20px;
}